@page "/counter"
@using BlazorSchool.Components.Web.UI
@using BlazorSchool.Components.Web.Variants
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<BlazorLibrary>
<BlazorCaptureElement>
    <p>This is a paragraph inside the capture element.</p>
    <BlazorCapturePdfButton Variants="new[] { BaseVariants.Primary }">Capture Me!</BlazorCapturePdfButton>
</BlazorCaptureElement>
</BlazorLibrary>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
