@page "/"
@using BlazorSchool.Components.Web.UI
@using BlazorSchool.Components.Web.Variants
@rendermode InteractiveServer

<PageTitle>Forms</PageTitle>

<BlazorLibrary>
    <div class="positioning">
        <BlazorCaptureElement>
                <div class="header">
                    <img src="/logo_uj.png" alt="placeholder"/>
                    <p class="roomNumber">@roomNumber</p>
                </div>
                <p class="names">@surnames</p>
                <BlazorCapturePdfButton Variants="new[] { BaseVariants.Primary }">Zapisz do PDF</BlazorCapturePdfButton>
            </BlazorCaptureElement>
        <BlazorForm class="grid">
            <div class="field">
                <label>Numer sali</label>
                <input type="text" @bind="roomNumber"/>
            </div>
            <div class="field">
                <label>Nazwiska</label>
                <input type="text" @bind="surnames"/>
            </div>
        </BlazorForm>
    </div>
</BlazorLibrary>
@code {
    private string textInput;
    private string surnames;
    private string roomNumber;
}

