img {
    width: 200px;
    height: 300px;
}
.positioning {
    display: flex;
}
.header {
    display: flex;
}
.grid {
    margin-left: auto;
    border: #0c4128 2px;
    border-radius: 5px;
    .field {
        display: grid;
        margin: 40px;
        width: 20%;
    }
    .buttons {
        display: grid;
    }
}
.card {
    border: #1a1e21 2px;
    width: 75%;
}

.roomNumber {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 100px;
}

.names {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 70px;
    margin: 50px 100px;
    width: 50%;
}
