img {
    width: 200px;
    height: 300px;
}
.positioning {
    display: flex;
}
.header {
    display: flex;
}
.grid {
    display: grid;
}

.roomNumber {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 100px;
    margin: 100px;
}

.names {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 70px;
    margin: 50px 100px;
}